
.season-card{
    border-bottom: 1px solid #d7d7d7;
}

.season-image-container{
    width: 100px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #dbdbdb;  
    border: 1px solid #d7d7d7;
}


.season-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}