.login-heading {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.login-content-wrapper a{
    color: rgba(1,180,228,1);
}
.btn-login{
    color: #fff !important;
    background-color: rgba(1,180,228,1) !important;
}

.btn-reset{
    color: rgba(1,180,228,1) !important;
    background-color: #fff !important;
}

/* login-content-wrapper */
@media(max-width: 576px) {
.login-content-wrapper{
    padding: 1.5rem;
}
}