.column_content {
  gap: 1.25rem;
  display: flex;
  flex-direction: row;
  /* background-color:red; */
  height: 350px;

  transition: height 0.5 ease;
}

.column_header,
.selector {
  display: flex;
  flex-direction: row;
}

.content_section {
  padding: 0;
  position: relative;
}

.content_section .inner_content {
  padding-top: 1rem;
}

.column_header {
  padding: 0 35px;
}
.column_header h2 {
  font-size: 1.5rem;
}

.column_header {
  width: 100%;
  margin: 0;
}

.selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.5rem;
  align-content: center;
  border: 1px solid var(--tmdbDarkBlue);
  border-radius: 30px;
  height: 35px;
}

.is_active {
  z-index: -1;
  background: var(--tmdbDarkBlue);
  border-radius: 30px;
  height: 100%;
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.anchor {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.selector_wrap {
  margin: 0;
  padding: 0;
}

.selector h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
}

.selector h3 a {
  display: flex;
  line-height: 1rem;
  transition: -webkit-text-fill-color 0.5s;
  color: rgba(var(--tmdbDarkBlue), 1);
  text-decoration: none;
  height: 35px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.movie_content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.scroll_content {
  margin-top: 1rem;
  margin-left: 2rem;
}

.slider {
  transform: translateX(100px);
}

.active {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.non_active {
  -webkit-text-fill-color: rgb(3, 37, 65) !important;
}

